{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% load user_filters %}

{% block title %}
  Клиенты
{% endblock %}

<!-- Блок левого меню -->
{% block sidebar %}
  {% include 'crm/includes/crm_sidebar.html' %}
{% endblock %}

<!-- Блок навигации -->
{% block navigation %}
  {% include 'crm/includes/crm_navigation.html' %}
{% endblock %}

<!-- Блок контента -->
{% block content %}

  <style>
      tr.customer:hover {
          cursor: pointer;
      }
  </style>
{#  <div class="container-fluid py-4">#}
{##}
{#  <div class="card-body px-0 pt-0 pb-2">#}
{#            <div class="table-responsive p-0 min-height-600">#}
{#              <table class="table table-hover align-items-center mb-0">#}
{#                <thead>#}
{#                <tr>#}
{#                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#}
{#                    ЛИД#}
{#                  </th>#}
{#                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">#}
{#                    Клиент#}
{#                  </th>#}
{#                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#}
{#                    Привязать клиента#}
{#                  </th>#}
{#                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#}
{#                    Создать нового клиента#}
{#                  </th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
  <div class="container-fluid my-3">
    <div class="row mb-3">
      <div class="col-11">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              ЛИД
            </div>
            <div class="col-6 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Клиенты
            </div>
            <div class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Привязать к клиенту
            </div>
          </div>
        </div>
      </div>
      <div class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
        Создать клиента
      </div>
    </div>
    {% for lead in leads %}
      <div class="row">
        <form action="{% url 'crm:crm_lead' %}" method="post" class="col-11">
          <div class="container-fluid">
            <div class="row">

              {% csrf_token %}

              <div class="col-4">
                <h6 class="mb-0 text-sm">{{ lead }}
                </h6>
              </div>

              <div class="col-6">
                {{ customer_form.fio_choices|add_id:lead.pk }}
                <script>
                    if (document.getElementById({{ lead.pk }})) {
                        var element = document.getElementById({{ lead.pk }});
                        const example = new Choices(element);
                    }
                </script>
              </div>

              <input type="hidden" value="{{ lead.id_user }}"
                     name="id_vk">


              <input type="hidden" value="{{ lead.pk }}"
                     name="lead_pk">


              <div class="col-2">
                <button class="btn btn-light text-xxs m-0 p-2 "
                        type="submit">Привязать
                </button>
              </div>
            </div>
          </div>
        </form>


        <form action="{% url 'crm:crm_lead' %}" method="post" class="col-1">
          {% csrf_token %}
          <td class="align-middle text-center">
            <input type="hidden" value="{{ lead.pk }}"
                   name="lead">
            <input type="hidden" value="{{ lead.id_user }}"
                   name="id_vk">
            <input type="hidden" value="{{ lead.last_name }}"
                   name="last_name">
            <input type="hidden" value="{{ lead.first_name }}"
                   name="first_name">
            <button class="btn btn-success text-xxs m-0 p-2"
                    type="submit">Создать
            </button>
          </td>
        </form>
      </div>
    {% endfor %}
  </div>
{#                </tbody>#}
{#              </table>#}
{#            </div>#}
{#          </div>#}
{#  </div>#}
{#  <script>#}
{#      let url = `ws://0.0.0.0:8001/ws/new_customer/`#}
{##}
{#      const chatSocket = new WebSocket(url)#}
{##}
{#      chatSocket.onmessage = function (e) {#}
{#          let data = JSON.parse(e.data)#}
{#          console.log('Data:', data)#}
{##}
{#          if (data.type === 'new_customer') {#}
{#              let messages = document.getElementById('customers_list')#}
{##}
{#              messages.insertAdjacentHTML('afterbegin', `#}
{# <tr class="customer">#}
{#                    <td onclick="document.location = '/crm/customer/${data.status}'">#}
{#                      <div class="d-flex px-2 py-1">#}
{#                        <div class="d-flex flex-column justify-content-center">#}
{#                          <h6 class="mb-0 text-sm">${data.cust}</h6>#}
{#                          <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                    <td>#}
{#                      <p class="text-xs font-weight-bold mb-0"></p>#}
{#                      <p class="text-xs text-secondary mb-0">Organization</p>#}
{#                    </td>#}
{#                    <td class="align-middle text-center text-sm">#}
{##}
{##}
{#                          <span class="badge badge-sm bg-gradient-info">#}
{#                          Неразобран#}
{#                          </span>#}
{##}
{##}
{#                    </td>#}
{#                    <td class="align-middle text-center">#}
{#                      <span class="text-secondary text-xs font-weight-bold">${data.source}</span>#}
{#                    </td>#}
{##}
{#                  </tr>#}
{#`)#}
{#          }#}
{#      }#}
{#  </script>#}
{##}





{% endblock %}
