{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  {{ order }}
{% endblock %}

<!-- Блок левого меню -->
{% block sidebar %}
  {% include 'crm/includes/crm_sidebar.html' %}
{% endblock %}

<!-- Блок навигации -->
{% block navigation %}
  {% include 'crm/includes/crm_navigation.html' %}
{% endblock %}

<!-- Блок контента -->
{% block content %}


  <div class="container-fluid py-4">


    <div class="row">

      <div class="col-12 col-md-4 mb-md-0 mb-1">
        <div class="card h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-8 d-flex align-items-center">
                <h3 class="mb-0">{{ order.title }}</h3>
                <a type="button"
                   hx-get="#"
                   hx-target="#r">
                  <i class="fas fa-user-edit text-secondary text-sm mx-3"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="Изменить заказ"></i>
                </a>
              </div>

              <div class="col-md-4 text-end">
                {#                <a type="button"#}
                {#                   hx-get="{% url 'crm:crm_customer_edit' customer.pk %}"#}
                {#                   hx-target="#r">#}
                {#                  <i class="fas fa-user-edit text-secondary text-sm"#}
                {#                     data-bs-toggle="tooltip" data-bs-placement="top"#}
                {#                     title="Редактировать"></i>#}
                {#                </a>#}

              </div>
            </div>
            <span class="badge badge-sm bg-gradient-success">В работе</span>

          </div>

          <div class="card-body p-3">
            <form action="{{ request.get_full_path }}">
              <button class="btn btn-github btn-sm"
                      name="gsheet" value="gsheet">
                СОЗДАТЬ
              </button>
            </form>
            <h6 class="mb-0 mt-3">Дата подписания</h6>
            <h5 class="border-0 ps-0 text-sm text-lighter"> {{ order.date }}</h5>

            <h6 class="mb-0 mt-3">Дата установки</h6>
            <h5 class="border-0 ps-0 text-sm text-lighter"> {{ order.date_done }}</h5>

            <h6 class="mb-0 mt-3">Сумма заказа</h6>
            {% if order.price %}<h5 class="border-0 ps-0 text-sm text-lighter">
              ₽{{ order.price }}</h5>{% endif %}

            <h6 class="mb-0 mt-3">Предоплата</h6>
            {% if order.pre_pay %}
              <h5 class="border-0 ps-0 text-sm text-lighter">
                ₽{{ order.pre_pay }}</h5>{% endif %}

            {% if order.second_pay %}
              <h6 class="mb-0 mt-3">Дата второго взноса</h6>
              <h5 class="border-0 ps-0 text-sm text-lighter"> {{ order.date_second_pay }}</h5>{% endif %}

            {% if order.second_pay %}<h6 class="mb-0 mt-3">Второй взнос</h6>
              <h5 class="border-0 ps-0 text-sm text-lighter">
                ₽{{ order.second_pay }}</h5>{% endif %}
          </div>

        </div>

      </div>
      <div class="col-12 col-md-8 mt-md-0 mt-1">
        <div class="card blur shadow-blur height-600">
          <div class="card-body overflow-auto overflow-x-hidden"
               id="parentDiv">
            {% include 'crm/includes/crm_communication_window.html' %}
          </div>
          <div class="row card-footer  pb-3 pt-3 align-items-center">
            <div class="col-1">
              <button class="  btn btn-icon-only shadow-none text-dark mb-0"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSettingsCommunication"
                      aria-expanded="false"
                      aria-controls="collapseSettingsCommunication">
                <i class="ni ni-settings"></i>
              </button>
            </div>
            <div class="col-auto p-0">
              <div class="col-xl-3 col-md-3 m-0 collapse collapse-horizontal"
                   id="collapseSettingsCommunication">
                <div class="form-group p-0 m-0"
                     style="width: 150px;">
                  <select name="action" class="form-control"
                          hx-get="{% url 'crm:get_form_communication' %}"
                          hx-trigger="change" hx-target="#communication">
                    {% for action, key in actions %}

                      <option value="{{ key }}">{{ action }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <form class="col row" method="post" id="form-comm">
              {% csrf_token %}
              <div class=" col input-group" id="communication">
                {% include 'crm/includes/crm_form_communication/crm_comment.html' %}
              </div>
              <button id="submit-comm" type="submit"
                      class="col-2 btn bg-gradient-light mb-0 ms-2"
                      hx-post="{{ request.get_full_path }}"
                      hx-target="#parentDiv">
                <i class="ni ni-send"></i>
              </button>

            </form>
          </div>
        </div>
      </div><!-- Коммуникационное окно -->
    </div>
    <div class="row mt-5">
      <div class="col-12 card">
        <div class="d-flex align-items-center card-header">
          <h5 class="ms-3 mb-2">Изделия</h5>
          <style>
              .new-product:hover {
                  cursor: pointer;
              }
          </style>
          <div class="new-product mx-2 mb-1"
               data-bs-toggle="collapse"
               data-bs-target="#collapseWidthExample"
               aria-expanded="false"
               aria-controls="collapseWidthExample">
            <i class="fa fa-plus text-secondary"></i>
          </div>
          <div class="col-auto p-0">
            <div class="col-xl-3 col-md-3 m-0 collapse collapse-horizontal"
                 id="collapseWidthExample">

                <form class="form-group p-0 m-0 d-flex align-items-center"
                   style="width: 300px;" action="{{ request.get_full_path }}" method="post">
                  {% csrf_token %}
                  {% render_field new_product.title class="form-control form-control-sm mx-2" placeholder="Название" %}
                <button class="btn btn-sm bg-gradient-light mb-0 mt-lg-auto d-inline"
                        type="submit" name="button">Добавить
                </button>
                  </form>

            </div>
          </div>
        </div>
        <div class="table table-responsive">
          <table class="table table-hover align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Изделие
              </th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                Стоимость
              </th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Готовность
              </th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr class="cursor-pointer"
            onclick="document.location = '{% url 'crm:crm_product_detail' product.pk %}'">
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg"
                         class="avatar avatar-md me-3" alt="table image">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ product.title }}</h6>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-sm text-secondary mb-0">₽45000.00</p>
              </td>
              <td class="align-middle text-sm">
                <div class="progress mx-auto">
                  <div class="progress-bar bg-gradient-success"
                       role="progressbar" style="width: 80%" aria-valuenow="80"
                       aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
            </tr> <!-- Изделие -->
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


    <script>

      var objDiv = document.getElementById("parentDiv");
      objDiv.scrollTop = objDiv.scrollHeight;
      $("#submit-comm").click(function () {
              setTimeout(() => {
                  document.getElementById("form-comm").reset();
              }, 100);


          }
      )

  </script>

{% endblock %}